/* body {
    font-family: Arial, sans-serif;
    background-color: #d4d2d2;
  } */
/*.info-text{
    float: right;
    padding-left: 3rem;
}

h2{
    margin-top: 10%;
    font-weight: 600;
}
img {
    float: left;
    margin-top: 10vh;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .info-text{
        float: left;
        padding-left: 2rem;
        padding-right: 2rem;
    }
} */

.haat-container {
    background-color: #fff;
    display: flex;
    padding: 10px;
  }
  
  .haat-image {
    flex: 1;
    padding: 10px;
  }
  
  .haat-image img {
    width: 100%; /* Säädä tämä kuvan kokosi mukaan */
    height: auto;
  }
  
  .haat-content {
    flex: 3;
    padding: 10px;
  }
  
  /* Responsiivisuutta varten */
  @media screen and (max-width: 600px) {
    .haat-container {
      flex-direction: column;
    }
  }
  