.navbar {
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #131313;
}

.show-nav-manage {
    display: none;
}

.navbar .show-nav-manage {
    .icon {
        color: #fff;
        font-size: 2em;
    }
}

.navbar .logo img {
    width: 500px;
}

.navbar  .nav-list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;
}

.navbar  .nav-list li {
    color: #fff;
    list-style: none;
}
.navbar  .nav-list button {
    color: #fff;
    background-color: #008cff;
    padding: 5px 15px;
    border: 1px solid #8ac0ff;
    border-radius: 10px;

    font-size: 1.1em;
}

@media screen and (max-width: 1150px) {
    .navbar .nav-list {
        display: none;
    }

    .navbar .logo img {
        width: 300px;
    }
    

}