.gallerySection {
     width: 100%;
     height: 400px;
     background-color: #212121;
     scroll-behavior: smooth;
     height: 600px;
     overflow: hidden;
}

.gallerySliderSection {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     overflow: hidden;
     position: relative;
}

.gallerySliderSection img {
     width: 250px;  
     height: 50%; 
     object-fit: cover;
     margin: 0 10px;
     border-radius: 10px;
 }
 

.slider {
     width: calc(270px * 18);
     display: flex;
     animation: scroll 8s linear infinite;
}

@keyframes scroll {
     0% {
          transform: translateX(0);
     }
     100% {
          transform: translateX(calc(-270px * 6));
     }
}

.gallerySection {
     position: relative;
}

.gallerySectionBtn {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top:0;
     bottom: 0;
     right: 0;
     left: 0;
     z-index: 1;
     text-decoration: none;
}

.gallerySectionBtn button {
     font-size: 2em;
     padding: 20px 60px;
     border-radius: 20px;
     border: 3px solid #d4d4d4;
     background-color: rgba(0, 0, 0, 0.8);
     color: #d4d4d4;
}

.gallerySectionBtn button:hover {
     background-color: rgba(255, 255, 255, 0.8);
     color: #000;
     transition: all .3s linear;
}

.gallerySectionBtn:hover {
     background-color: rgba(0, 0, 0, 0.5);
     transition: all .3s linear;
}

@media screen and (max-width: 991px) {
     .gallerySection {
          padding: 0;
          overflow: hidden;
     }

     .gallerySectionBtn button {
          font-size: 1.5em;
          padding: 15px 40px;
          border-radius: 20px;
          border: 3px solid #d4d4d4;
          background-color: rgba(0, 0, 0, 0.8);
          color: #d4d4d4;
     }

  
 }