.contact-form-container {
  width: 100%;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  width: 400px;
  max-width: 500px;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"] {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #0056b3;
}

@media (max-width: 767px) {
  .contact-form {
      width: 90%;
  }


}
