.contact-form-container {
    min-height: 70vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .form-wrapper {
    margin: 2vw;
    width: 90vw;
    padding: 4vw;
    border-radius: 1vw;
    background-color: #F1EFEF;
    display: flex;
    flex-direction: column;
  }
  
  .contact-header {
    color: var(--secondary-color); 
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
    